<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="C:\Logs\mylabel.MobileId.Aggregator.Admin\internal-nlog.txt">

  <!-- Load the ASP.NET Core plugin -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="allfile" xsi:type="File" fileName="C:\Logs\mylabel.MobileId.Aggregator.Admin\nlog-web-all-${date:format=yyyy-MM-dd}.log" >
      <layout xsi:type="JsonLayout" includeAllProperties="false">
        <attribute name="Tstamp" layout="${longdate}" />
        <attribute name="Server" layout="${machinename}" />
        <attribute name="Activityid" layout="${activityid}" />
        <attribute name="Logger" layout="${logger}" />
        <attribute name="Level" layout="${level:upperCase=true}"/>
        <attribute name="Message" layout="${message}" />
        <attribute name="Exception" layout="${exception:format=tostring}" />
        <attribute name="RequestDuration" layout="${event-properties:item=requestDuration}" />
      </layout>
    </target>

  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
  </rules>
</nlog>